<ng-include ng-controller="GameCtrl"></ng-include>

<!DOCTYPE html>

<html lang="eng">
	<head>
		<title>GAME VIEW</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1">
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
	    <!-- Our stylesheet -->
    	<link rel="stylesheet" href="../style.css">
	</head>
	<body>
		<div class="container-fluid wrapper game-container">
	        <div class="row header">
	        	<h4>DANCING QUEEZ</h4>
	    	</div>
			<div class="col-md-12" align="center" id="gameView">

				<div class="mini-header">
					Playlist: {{playlistName()}}
					
				</div>
				<div class="row">
					<div class="column column-left">
						<div class="glyphicon glyphicon-volume-up" id="audio" ng-click="pauseSong()">
							<audio id="currentSong" data-ng-src="{{currentSong()}}" >
								{{playSong()}}
							</audio>
						</div>
					</div>
					
				</div>
				
				<div class="icon-container row">
					<div class="question-icon">
						<img src="../images/pink_headphone.png"/>
					</div>
				</div>
				<div class="row">
					<div class="text-container">
						{{question().questionStr}}
					</div>
				</div>
				
				<div class="row ">
					<div class="answer-container" id="alt1" ng-click="validateAnswer(1, question().answerAlternatives[0])" >
						<div class="answer-text" ng-model="answer1">
							{{question().answerAlternatives[0]}}
						</div>
					</div>
					<div class="answer-container" id="alt2" ng-click="validateAnswer(2, question().answerAlternatives[1])">
						<div class="answer-text">
							{{question().answerAlternatives[1]}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="answer-container" id="alt3" ng-click="validateAnswer(3, question().answerAlternatives[2])">
						<div class="answer-text">
							{{question().answerAlternatives[2]}}
						</div>
					</div>
					<div class="answer-container" id="alt4" ng-click="validateAnswer(4, question().answerAlternatives[3])">
						<div class="answer-text">
							{{question().answerAlternatives[3]}}
						</div>
					</div>
				</div>
			
				<div class="row text-container">
					<div class="row">
						Question {{question().id}}/{{numberOfQuestions()}}
					</div>
				</div>
				<div class="column">
						<button ng-hide="hideForward" ng-click="nextQuestionButton()" class="btn" id="forwardButt">Next Question > </button>
				</div>
				<div class="row notes">
					<div class="hr" id="here">
						<!--
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="30px" height="30px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve" class="kiwi">
						<path d="M272,48h-32v304.594C223,342.375,200.688,336,176,336c-53,0-96,28.625-96,64s43,64,96,64s96-28.625,96-64V144
						c80-13,128,80,160,128C412,48,272,48,272,48z"/>
					</svg>-->
					</div>
					<div class="hr">
					</div>
					<div class="hr">
					</div>
					<div class="hr">
					</div>
				</div>
			</div>
		</div>
	</body>

</html>