<ng-include ng-controller="GameCtrl"></ng-include>

<!DOCTYPE html>

<html lang="eng">
	<head>
		<title>GAME VIEW</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1">
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
	    <!-- Our stylesheet -->
    	<link rel="stylesheet" href="../style.css">
    	<audio id="correctSoundEffect">
			<source src="../images/correct.mp3" type="audio/mpeg">
		</audio>
		<audio id="wrongSoundEffect">
			<source src="../images/wrong.mp3" type="audio/mpeg">
		</audio>
	</head>
	<body>
		<div class="container-fluid wrapper game-container">
	        <div class="row header">
	        	<h4>DANCING QUEEZ</h4>
	    	</div>
			<div class="col-md-12" align="center" id="gameView">

				<div class="mini-header" style="color: #263238">
					Playlist: {{playlistName()}}
					
				</div>
				<div class="row notes">
					<div class="hr" id="noteProgress" ng-model="note">
					</div>
					<div class="hr">
					</div>
					<div class="hr">
					</div>
					<div class="hr">
					</div>
				</div>
				<div class="row">
					<div class="row column-left">
						<div class="glyphicon glyphicon-volume-up" ng-hide="hideVolumeUp" id="audio" ng-click="pauseSong()">
							<audio id="currentSong" data-ng-src="{{currentSong()}}" >
								{{playSong()}}<!--kör låten när ny fråga startar-->
							</audio>
						</div>
						<div class="glyphicon glyphicon-volume-off" ng-hide="hideVolumeOff" ng-click="pauseSong()"></div>
					</div>

				</div>
				
				<div class="row icon-container question-icon">
					<img src="../images/pink_headphone.png"/>
				</div>
				<div class="row">
					<div class="text-container">
						{{question().questionStr}}
					</div>
				</div>
				<div class="row">
					<div class="answer-container" id="alt1" ng-click="validateAnswer(1, question().answerAlternatives[0]);playSoundEffect()">
						<div id="answer1" class="answer-text" ng-model="answer1">
							{{question().answerAlternatives[0]}}
						</div>
					</div>
					<div class="answer-container" id="alt2" ng-click="validateAnswer(2, question().answerAlternatives[1])">
						<div id="answer2" class="answer-text">
							{{question().answerAlternatives[1]}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="answer-container" id="alt3" ng-click="validateAnswer(3, question().answerAlternatives[2])">
						<div id="answer3" class="answer-text">
							{{question().answerAlternatives[2]}}
						</div>
					</div>
					<div class="answer-container" id="alt4" ng-click="validateAnswer(4, question().answerAlternatives[3])">
						<div id="answer4" class="answer-text">
							{{question().answerAlternatives[3]}}
						</div>
					</div>
				</div>
				<div class="row text-container answer-text">
						<button ng-hide="hideForward" ng-click="nextQuestionButton()" class="btn next-color" id="forwardButt">Next Question ></button>
						<button ng-hide="hideResults" ng-click="nextQuestionButton()" class="btn next-color" id="resultsButt">See Results ></button>
						<div ng-hide="questionProg" style="color: black;">
						Question {{question().id}}/{{numberOfQuestions()}}
						</div>
				</div>
				
			</div>
		</div>
	</body>

</html>