<!-- ng-include ng-controller="gameCtrl"></ng-include>-->

<!DOCTYPE html>

<html lang="eng">
	<head>
		<title>GAME VIEW</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
	    <!-- Our stylesheet -->
    	<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="container-fluid wrapper game-container">
	        <div class="row header">
	        	<h4>DANCING QUEEZ</h4>
	    	</div>
		<div class="col-md-12" align="center" id="gameView">
			<div class="mini-header">
				Playlist: Smooth Rock
			</div>
			<div class="icon-container row">
				<div class="question-icon">
					<img src="partials/headphn.png"/>
				</div>
			</div>
			<div class="row">
				<div class="text-container">
					What's the title of this song?
				</div>
			</div>
			<div class="row">
				<div class="answer-container">
					<div class="answer-text">
						HEJ
					</div>
				</div>
				<div class="answer-container">
					<div class="answer-text">
						HEJ
					</div>
				</div>
			</div>
			<div class="row">
				<div class="answer-container">
					<div class="answer-text">
						HEJ
					</div>
				</div>
				<div class="answer-container">
					<div class="answer-text">
						HEJ
					</div>
				</div>
			</div>
			<div class="row text-container">
				Question 1/20
			</div>
		</div>

	</body>
</html>