
<!DOCTYPE html>
<html>
<head>
		<title>GAME VIEW</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
	    <!-- Our stylesheet -->
    	<link rel="stylesheet" href="../style.css">
    	<script src="../library/sweetalert.min.js"></script> 
      	<link rel="stylesheet" type="text/css" href="../library/sweetalert.css">
	</head>
  
<body>
<div class="container-fluid wrapper game-container">
	        <div class="row header">
	        	<h4>DANCING QUEEZ</h4>
	    	</div>
	<div ng-init="resetStorage()" class="startIcon">
  		<img src="../images/pink_headphone.png">
  	</div>
  <div class="col-md-8" id="welcome">
  	
  	<div id="input">
  		<div class="startText"><center>Welcome!<br> Type in your Spotify username or playlist URL</center>
  		</div>
  		<button class="btn optionButton" ng-hide="hideOptionButtons" ng-click="playlistButton()" id="playlistButt">Playlist
  			</button>
  		<div class="row">
  			<button class="btn optionButton" ng-hide="hideOptionButtons" ng-click="usernameButton()" id="usernameButt">Username
  			</button>
  			<button class="btn optionButton" ng-hide="hideOptionButtons" ng-click="playlistButton()" id="playlistButt">Playlist
  			</button>
  		<div>
  			<input type="text" ng-hide="playlistInputHide" class="playlistInput" ng-model="userInput" placeholder="playlist">
  		</div>
  		<div>
  			<input type="text" ng-hide="usernameInputHide" class="playlistInput" ng-model="userInput" placeholder="username">
  		</div>
  		<button type="button" ng-hide="goPlaylistHide" ng-click="getPlaylist(userInput)" class="btn goButton">GO!</button>
  		<button type="button" ng-hide="goUsernameHide" ng-click="getUserPlaylists(userInput)" class="btn goButton">GO!</button>
  		</div>
	</div>
</div>
</body>

</html>
