
<!DOCTYPE html>
<html>
<head>
		<title>GAME VIEW</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
	    <!-- Our stylesheet -->
    	<link rel="stylesheet" href="../style.css">
	</head>
  
<body>
<div class="container-fluid wrapper game-container">
	        <div class="row header">
	        	<h4>DANCING QUEEZ</h4>
	    	</div>
	<div class="startIcon">
  		<img src="headphn.png" height="70%" width="70%">
  	</div>
  <div class="col-md-8" id="welcome">
  	
  	<div id="input">
  		<div class="startText"><center>Welcome!<br> Type in your Spotify-playlist</center></div>
  		<div>
  			<input type="text" class="playlistInput" ng-model="playlistInput" value="playlist">
  		</div>
  		<a ng-href="/#/game" type="button" ng-click="getPlaylist(playlistInput)" class="btn goButton">GO!</a>
  	</div>
  
 	
	</div>


</div>
</body>

</html>
