

<!DOCTYPE html>
<html>
  <head>
    <title>SCORE VIEW</title>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
      <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
      <!-- Our stylesheet -->
      <link rel="stylesheet" href="../style.css">
    
      <script src="../library/sweetalert.min.js"></script> 
      <link rel="stylesheet" type="text/css" href="../library/sweetalert.css">
      
  </head>
  
<body>
<div class="container-fluid wrapper game-container">
          <div class="row header">
            <h4>DANCING QUEEZ</h4>
        </div>
        <div class="col-md-12" align="center">
        <div class="mini-header">
        Playlist: {{playlistName()}}
      </div>
      <div class="icon-container row">
      </div>
      <div class="mini-header">Your score was: {{getScore()}} of {{numberOfQuestions()}}</div>
      </div>
      <div id="results" ng-model="results">
      </div>
        <script src="http://d3js.org/d3.v3.min.js"></script>
  <script>
            
         

  </script>

       

          <script>
 
          
          </script>
        </svg>
      </div>
<a ng-href="/#/game" type="button" ng-click="resetScore()" class="btn goAgainButton">Try Again!</a></br>
<a ng-href="/#/home" type="button" ng-click="resetGame()" class="btn goAgainButton">New Game!</a>

      



</div>














</body>
</html>
