<!DOCTYPE html>
<ng-include ng-controller="HomeCtrl"></ng-include>

<html lang="eng">
	<head>
		<title>GAME VIEW</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1">
	    <!-- Bootstrap CSS -->
	    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
	    <!-- Our stylesheet -->
    	<link rel="stylesheet" href="../style.css">
	</head>
	<body>
		<div class="container-fluid wrapper game-container">
	        <div class="row header">
	        	<h4>DANCING QUEEZ</h4>
	    	</div>
	<div class="startIcon">
		<div class= "icon-container question-icon">
  			<img src="../images/pink_headphone.png">
  		</div>
  		<div class="mini-header" style="color: #263238">
					Choose a playlist to start a quiz:	
		</div>
	</div>

		<div class="playlistContainer col-xs-12">
			<div ng-repeat="playlist in userPlaylists()" class="row col-xs-5" ng-click="clickUserPlaylist(playlist.href)">
				<div class="playlistText">{{playlist.name}}</div>
				<img width="120px" style="padding-bottom:40px;" class="playlistImage" ng-src="{{playlist.images[0].url}}">
			</div>

			

		</div>
  	
	</body>
</html>
