html { width: 100%; height: 100%;}
body { 
	background: #eee;
	width: 100%;
	height: 100%;
	}

.wrapper {
	margin: 0;
	padding:0;
	width: 100%;
	height: 100%;
}
.row {
	margin: 0;
}

.banner{
	padding-top: 12%;
	background-color: #F50057;
	text-align: center;
	padding: 5px 10px;*/ 
	font-size: 130%;
}

#header small {
	font-style: italic;
	font-size: 40%;
}



.btn-primary {
	background: #FFB358;
	border-color: #FF8B00;
	color: #000;
}


.btn-primary:hover {
	background: #FF9619;
	color: #000;
	border-color: #FF8B00;


}


h2 { 
	font-weight: bold;
	text-transform: uppercase;
}

h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 85%;
}

h5 {
	font-weight: bold;
	font-size: 110%;
}

/*START SCREEN*/

.goButton{
	margin-left: 19%;
	width: 60%;
	height: 3%;
	margin-top: 20%;
	
	border-radius: 30px;
	background-color: #F50057;
	

}

.playlistInput{
	width: 65%;
	height: 25px;
	margin-left: 16%;
	margin-top: 10px;
	
}

.startIcon{
	margin-top:10%;
	margin-left:22%;


}
.startText {
	font-size: 20px;
	font-family: helvetica;
}

#welcome {
	background-color: none;
	
	padding-top: 8%;

}

/*
*	gameView specific ===========================
*/

.game-container {
	background: linear-gradient(#D81B60, #F48FB1); /* Standard syntax */
	/*background: linear-gradient(#00897B, #80CBC4); /* Standard syntax */
	/*background: linear-gradient(#0097A7, #B2EBF2); /* Standard syntax */
	/*background: linear-gradient(#455A64, #CFD8DC); /* Standard syntax */
	/*background: linear-gradient(#D32F2F, #FFCDD2); /* Standard syntax */

}

.header {
	color: white;
	text-align: center;
	font-size: 200%
}

.mini-header {
	font-weight: bold;
	font-family: helvetica;
	margin-top: 5px;
	font-style: italic;

}

.icon-container {
	position: center;
	margin: 20px 20px 0px;
}

.question-icon img {
	max-width: 30%;
	max-height: 30%;
	margin: 30px;
}

.text-container {
	font-weight: bold;
	font-family: helvetica;
	margin-top: 10px;
}

.answer-container {
	margin: 20px 5px 0px;
	background-color: #FCE4EC;
	display: inline-block;
	padding: 20px 50px;
	border: 2px #880E4F;
	border-radius: 5px;


}

.answer-text {
	font-weight: normal;
	text-align: center;
	width: 90%;

}