html { width: 100%; height: 100%;}
body { 
	/*background: linear-gradient(#D81B60, #F48FB1);*/
	background:#EEE;
	width: 100%;
	height: 100%;
	
	}

.wrapper, html, body {
	margin: 0;
	padding:0;
	width: 100%;
	height: 100%;
}
.row {
	margin: 0;
}

.banner{
	padding-top: 12%;
	/*background: linear-gradient(#D81B60, #F48FB1); /* Standard syntax */
	/*background-color: #F50057;*/
	text-align: center;
	padding: 5px 10px;*/ 
	font-size: 130%;
}





.btn-primary {
	background: #FFB358;
	border-color: #FF8B00;
	color: #000;
}


.btn-primary:hover {
	background: #FF9619;
	color: #000;
	border-color: #FF8B00;


}


h2 { 
	font-weight: bold;
	text-transform: uppercase;
}

h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 85%;
}

h5 {
	font-weight: bold;
	font-size: 110%;
}

/*START SCREEN*/

.goButton{
	margin-left: 19%;
	width: 60%;
	height: 3%;
	margin-top: 20%;
	
	border-radius: 30px;
	background-color: #F50057;
	
	color: white;
	font-size: 30px;
}

.playlistInput{
	width: 65%;
	height: 25px;
	margin-left: 16%;
	margin-top: 10px;
	
}

.startIcon{
	margin-top:10%;
	margin-left:22%;


}
.startText {
	font-size: 20px;
	font-family: helvetica;
}

#welcome {
	background-color: none;
	
	padding-top: 8%;

}

/*
*	gameView specific ===========================
*/

/*.game-container {
	background: linear-gradient(#D81B60, #F48FB1); /* Standard syntax */
	/*background: linear-gradient(#00897B, #80CBC4); /* Standard syntax */
	/*background: linear-gradient(#0097A7, #B2EBF2); /* Standard syntax */
	/*background: linear-gradient(#455A64, #CFD8DC); /* Standard syntax */
	/*background: linear-gradient(#D32F2F, #FFCDD2); /* Standard syntax 
	height: 100%;
	width: 100%;

}*/

.header {
	color: white;
	text-align: center;
	font-size: 200%;
	background-color:#D81B60;
}

.mini-header {
	font-weight: bold;
	font-family: helvetica;
	margin-top: 5px;
	font-style: italic;
}

.icon-container {
	position: center;
	margin: 20px 20px 0px;
}

.question-icon img {
	max-width: 30%;
	max-height: 30%;
	margin: 10px;
}

.text-container {
	font-weight: bold;
	font-family: helvetica;
	margin: 10px 20px;
}

.answer-container {
	background-color: #D81B60;
	border: 2px #880E4F;
	border-radius: 5px;
	margin: 10px 5px 5px;
	position: relative;
	width: 140px;
	display: inline-table;
	vertical-align: center center;
	height: 10vh;
	width: 20vh;
}

.answer-text {
	color:white;
	vertical-align: center center;
	width: 90%;
	padding: 5px 0;
	margin-bottom: 5px;
}

.glyphicon.glyphicon-volume-up {
	font-size: 40px;
	color: black;
	margin-left: 20px;
	text-align: left;
}

.glyphicon.glyphicon-chevron-right {
	font-size: 35px;
	color: black;
	margin-right: 20px;
	margin-top: 0;
	text-align: right;
}

.column {
	width: 49%;
	margin: 0 !important;
	padding: 0;
	display: inline-block;
}
.column-left { text-align: left}
.column-right { text-align: right}

.hr {
	margin-top: 15px;
    background: black; 
    width: 95%; 
    height: 2px;
}

.notes {
	margin-top: 0px;
}

.note {
	fill: black;
}



/*
*	score specific ===========================
*/
.results{
	
	padding-top: 10px;
	padding-left: 22px;
	text-align: center;
}

.question-icon{
	padding-bottom: 10px;
}

#results{
	text-align: center;
	padding-left:10%;
	padding-right:20px;
}
.goAgainButton{
	margin-left: 19%;
	width: 60%;
	height: 3%;
	margin-top: 5%;
	
	border-radius: 30px;
	background-color: #F50057;
	
	color: white;
	font-size: 30px;
}